body {
	font-family: Courier;
}

#mainHeader {
	background-image: url(../images/Grand-Central-Terminal-clock.jpg);
	background-size: 1150px;
	color: yellow;
	text-shadow: 2px 2px red;
}

label, #submit {
	display: block;
	font-weight: bold;
}

/*.form-group {
	margin: 0;
	padding: 0;
}
*/